<!-- <FlexBoxLayout flexDirection = "column">
    <ns-challenges-edit (input) = "onChallengeInput($event)"></ns-challenges-edit>
    <ns-current-challenges [publishText] = "enteredChallenge"></ns-current-challenges>
</FlexBoxLayout>
 -->
<StackLayout>
    <page-router-outlet></page-router-outlet>
</StackLayout>





<!-- <StackLayout orientation = "vertical">
    <ns-stack></ns-stack>
    <ns-flexbox></ns-flexbox>
    <ns-grid></ns-grid>
    <ns-absolute></ns-absolute>
</StackLayout> -->

<!--
<FlexboxLayout>
    <ns-flexbox></ns-flexbox>
</FlexboxLayout>
-->
