/* Add mobile styles for the component here.  */
GridLayout{
    border-color:black;
    border-width: 8;
}
/*
Label{
    width: 20%;
    height: 20%;
}
*/
#id1{
    background: crimson;


}
#id2{
    background: pink;

}
#id3{
    background:green;

}
#id4{
    background: blue;

}
#id5{
    background: yellow;

}

